<h3>Epoštni naslov</h3>
<p>Čeprav ste ob registraciji navedli vaš primarni epoštni naslov, imate morda več epoštnih naslovov, ki jih lahko prikažete. V profilu lahko uporabite katerega koli izmed potrjenih epoštnih naslovov.</p>
<p>Če želite dodati nov naslov, kliknite <a onclick="email_new(); return false;" href="">Dodaj epoštni naslov</a>. Ko boste shranili svoj profil, bo na nov naslov poslano sporočilo. Kliknite povezavo v sporočilu za potrditev epoštnega naslova.</p>
<p><strong>Opomba:</strong> Potrditvena povezava velja samo za 24 ur. Po tem morate postopek ponoviti.</p>