<h3>Kontaktni podatki</h3>
<p>Vaše kontaktne podatke urejate oz. so vzeti neposredno iz vašega <b>profila</b>. Če želite dodati ali posodobiti kontaktne podatke, kliknite na <b>Uredi profil</b>. Ko boste vnesli zahtevane informacije, kliknite na <b>Uredi moj življenjepis</b>, da se vrnete na področje življenjepisa.</p>
<p>Upoštevajte, da morate <b>shraniti</b> vse informacije, ki ste jih vnesli v svoj življenjepis in jih želite obdržati, preden zapustite svoj profil.</p>