<h3>Spremno pismo</h3>
<p>Območje spremnega pisma vam omogoča, da ustvarite sporočilo za vse uporabnike, ki pregledujejo vaš življenjepis. S HTML urejevalnikom lahko oblikujete pismo tako, kot je potrebno.</p>