<h3>Interesi</h3>
<p>Območje interesov vam omogoča, da naštejete vaše osebne in/ali poklicne interese. Seznam lahko vključuje hobije, športne aktivnosti, prostovoljno delo, področja raziskovanja ter strokovnega znanja in izkušenj itd. Seznam vaših interesov bo v pomoč delodajalcem pri oblikovanju jasnejše slike o tem, kdo ste in kaj bi doprinesli njihovi organizaciji.</p>