<h3>Potrdila, diplome in nagrade</h3>
<p>Seznam katerih koli potrdil, diplom ali nagrad, ki ste jih prejeli, npr.: diplomirani računovodja ali potrdilo o poznavanju prve pomoči.</p>
<p>Vnosi so izpisani v obratnem kronološkem vrstnem redu. Za nov vnos kliknite gumb "Dodaj". Če želite zapreti razdelek "Dodaj", ne da bi shranili nov vnos, kliknite gumb "Prekliči".</p>
<p><strong>Opomba:</strong> Pomembno je, da vsak nov vnos shranite z gumbom "Shrani", na dnu razdelka.</p>
<p>Novi vnosi se v tabelarični obliki prikažejo v vašem življenjepisu. Vnos lahko spremenite s klikom na <span style="text-decoration:underline">Uredi</span>. Ne pozabite "Shraniti" sprememb ter nato klikniti gumba <span style="text-decoration:underline">Nazaj na Moj življenjepis</span>, da se vrnete na glavni zaslon. Če želite določen vnos odstraniti, kliknite <span style="text-decoration:underline">Izbriši</span>.</p>
<p>Če ste pri določenem vnosu dodali opis, kliknite na naslov vnosa, za prikaz ali skrivanje teh podatkov.</p>