<h3>Skrbniki</h3>
<p>Skrbniški dostop omogoča uporabnikom da naredijo karkoli in dostopajo do katere koli strani spletišča, razen do zasebnih listovnikov posameznih uporabnikov.</p>
<p>Če želite dodeliti skrbniški dostop, potem izberite uporabnike s seznama možnih skrbnikov ter jih z ustreznim gumbom (puščico) premaknite na seznam trenutnih skrbnikov. Če želite odstraniti skrbniški dostop, potem izberite uporabnike s seznama trenutnih skrbnikov ter jih z ustreznim gumbom (puščico) premaknite nazaj na seznam možnih skrbnikov.</p>
<p>Kadar na spletišču obstaja več kot 100 uporabniških računov, boste potrebovali za iskanje določenega uporabnika iskalno polje za poizvedbe. Izberete lahko tudi več uporabnikov hkrati tako, da uporabite tipki Ctrl ali Shift za izbiranje ter klikajte izbrane uporabnike.</p>
<p>Obstajati mora vsaj en skrbnik za celoten sistem.</p>