<h3>Ustanove</h3>
<p>Stran ustanov vam omogoča urejanje obstoječih in ustvarjanje novih ustanov, povezanih z vašim spletiščem. Ustanove so večinoma "zabojniki", ki vsebujejo uporabnike. Lahko imajo svoje skrbnike in člane osebja ter tako omogočijo skrbniku spletišča več časa, ki ga lahko nameni za nemoteno delovanje spletišča.</p>