<h3>Skrbniška obvestila</h3>
<p>Stran skrbniških obvestil vsebuje seznam vsem uporabnikov, ki imajo skrbniški dostop do spletišča, in njihovih izbranih nastavitev dejavnosti za vsa skrbniška obvestila. Obstajati mora vsaj en skrbnik za vsako vrsto ustvarjenih sporočil, ki bo ta sporočila prejemal.</p>