<h3>Skrbništvo vtičnikov</h3>
<p>Območje skrbništva in upravljanja vtičnikov vsebuje seznam vseh trenutno nameščenih vtičnikov na Mahara spletišču ter zagotavlja povezave do nastavitev vtičnikov za prilagoditev spletišča, kjer in kadar je to mogoče.</p>