<h3>Strani spletišča</h3>
<p>Strani jedra spletišča Mahara lahko skrbnik spletišča ureja dinamično. Če želite prilagoditi ali spremeniti privzeto vsebino strani jedra spletišča (O Mahari, Začetna stran, Začetna stran za neprijavljene, Izjava o zasebnosti, Pravila in pogoji ter Avtorska izjava pri nalaganju), potem izberite stran, ki jo želite spremeniti in jo uredite s pomočjo HTML urejevalnika. Prepričaje se, da ste shranili spremembe, preden zapustite področje strani spletišča ali začnete urejati drugo stran jedra spletišča.</p>