<h3>Meni povezav in virov</h3>
<p>Znotraj namestitve Mahare je mogoče imeti "Meni povezav in virov" tako za javnost, kot samo za prijavljene uporabnike. Ta meni je prikazan vsem uporabnikom na večini strani, ki vam omogoča povezave do uporabnih in pomembnih strani in dokumentov.</p>