<h3>Datoteke spletišča</h3>
<p>Področje datotek spletišča deluje skoraj enako kot glavno področje mojih datotek na spletišču. Datoteke, ki so naložene na tem področju, so na voljo kateremu koli prijavljenemu uporabniku.Če so naložene v mapo "public", so na voljo kateremu koli uporabniku, ki pozna pravilen URL naslov.</p>