<h3>Osebje</h3>
<p>Dostop za osebje omogoča uporabnikom, da ustvarijo nadzorovane skupnosti, sprejemajo in sprostijo poglede za ocenjevanje ter dostopajo do ključnih podatkov uporabniških profilov (ime in priimek, ID številka, prikazno ime).</p>
<p>Če želite dodeliti dostop za osebje, potem izberite uporabnike s seznama možnega osebja ter jih z ustreznim gumbom (puščico) premaknite na seznam trenutnega osebja. Če želite odstraniti dostop za osebje, potem izberite uporabnike s seznama trenutnega osebja ter jih z ustreznim gumbom (puščico) premaknite nazaj na seznam možnega osebja.</p>
<p>Kadar na spletišču obstaja več kot 100 uporabniških računov, boste potrebovali za iskanje določenega uporabnika iskalno polje za poizvedbe. Izberete lahko tudi več uporabnikov hkrati tako, da uporabite tipki Ctrl ali Shift za izbiranje ter klikajte izbrane uporabnike.</p>