<h3>Blokirani uporabniki</h3>
<p>Izberite uporabnika tako, da obkljukate polje na desni strani uporabniških podatkov. Kliknite ustrezen gumb za ponovno aktiviranje ali brisanje izbranih uporabnikov.</p>