<h3>Iskanje uporabnikov</h3>
<p>Iskanje uporabnikov znotraj skrbniškega območja deluje na enak način kot iskalnik spletišča. Vendar pa lahko skrbniki vidijo, s katero ustanovo je uporabnik povezan ter lahko blokirajo iskane uporabnike.</p>