<h3>Nastavitve dejavnosti</h3>
<p>Izberete lahko, kako boste prejeli obvestila za posamezno vrsto dejavnosti.</p>

<h4>Vrsta obvestila</h4>
<p><strong>Dnevnik dejavnosti:</strong> v področju obvestil bo prikazan seznam prejetih obvestil o dejavnostih.</p>
<p><strong>Epošta:</strong> vsakokrat, ko nastopi dejavnost, boste prejeli obvestilo na vaš primarni epoštni naslov.</p>
<p><strong>Epoštni povzetek:</strong> na vaš primarni epoštni naslov boste vsak dan prejeli sporočilo s seznamom dejavnosti, ki so se zgodile zadnjih 24 ur.</p>
<p><strong>Opomba:</strong> Če izberete katerokoli izmed epoštnih možnosti, bodo vse dejavnosti (ko se zgodijo) zapisane v dnevnik obvestil. Obvestila bodo označena, kot že prebrana. Ta obvestila bodo samodejno prenehala veljati, in bodo odstranjena iz dnevnika obvestil, po 60 dneh.</p>

<h4>Vrsta dejavnosti</h4>
<p><strong>Sistemsko sporočilo:</strong> samodejno ga ustvari sistem ali pa vam ga pošlje eden izmed skrbnikov spletišča.</p>
<p><strong>Sporočilo drugih uporabnikov:</strong> sporočilo, ki ga dobite od drugih uporabnikov spletišča.</p>
<p><strong>Povratne informacije:</strong> obvestilo o kateri koli povratni informaciji, pripombi ali komentarju, glede katerega koli pogleda, izdelka ali objave bloga v vašem eListovniku.</p>
<p><strong>Nadzorni seznam:</strong> obvestilo o dejavnostih, povezanih s katerim koli izdelkom, pogledom, skupino ali blogom, ki ga spremljate oz. nadzorujete.</p>
<p><strong>Nov dostop do pogleda:</strong> obvestilo, da ste vi ali ena izmed vaših skupin dobili dostop do novega ali obstoječega ne-javnega pogleda.</p>