<h3>Obvestila</h3>
<p>To je seznam sistemskih dejavnosti ali dogodkov, ki velja za vas. Uporabite območje nastavitev dejavnosti in se sami odločite, kako boste prejeli takšna obvestila. Ko boste obvestila prebrali, jih lahko označite za odstranitev iz seznama.</p>
<p><strong>Opomba:</strong> Prebrana obvestila bodo samodejno prenehala veljati in bodo odstranjena iz seznama po 60 dneh.</p>