<h3>Nastavitve</h3>
<p>Razdelek nastavitev vam omogoča, da nastavite, kako boste uporabljali spletišče in kako boste prejemali pomembne informacije in obvestila.</p>
<p>Po času, ki ga je določil skrbnik spletišča, bodo uporabniški računi samodejno potekli. O tem, da bo vaš račun potekel, boste opozorjeni in hkrati obveščeni, kako shranite svoj listovnik</p>
<p><strong>Opomba:</strong> Pomembno je, da shranite vsak nov vnos z gumbom na dnu razdelka.</p>
<p><strong>Opozorilo:</strong> Med preiskavo domnevnih kršitev pravil in pogojev spletišča, bo vaš račun blokiran. O tem boste obveščeni, ko se boste poizkušali prijaviti. Obrnite se na skrbnika spletišča, če boste imeli kakršnakoli vprašanja.</p>