<h3>Kvota</h3>
<p>Dodeljen vam je določen prostor za shranjevanje, ki ga lahko uporabite za nalaganje datotek na sistem. Če se približujete meji vaše kvoti, se pogovorite z učiteljem ali skrbnikom spletišča o povišanju meje vaše kvote.</p>