<h3>Moji prijatelji</h3>
<p>Območje vaših prijateljev prikaže seznam tistih uporabnikov spletišča, ki so označeni kot vaši prijatelji, in vseh njihovih pogledov, do katerih imate dovoljen dostop.</p>
<p>S padajočim menijem lahko izbitate, ali naj se prikaže seznam obstoječih prijateljev, ali seznam uporabnikov, katerih prošnje za prijateljstvo čakajo na vašo potrditev.</p>
<p>Če želite uporabnika dodati na seznam prijateljev, si morate ogledati njegov profil &#8211; bodisi preko pogleda, skupnosti ali rezultatov iskanja. Glede na njegove nastavitve nadzora prijateljev boste morda lahko samodejno sprejeti kot njegov prijatelj ali pa boste morda morali poslati prošnjo za prijateljstvo. Če ne vidite gumba "Dodaj k prijateljem", potem je uporabnik najverjetneje nastavil svoj račun tako, da ga nihče ne more dodati na seznam svojih prijateljev.</p>
<p>Pri pošiljanju prošnje za prijateljstvo se lahko odločite, da boste poleg prošnje poslali tudi svojo kratko predstavitev. To je pomembno, če ste si določili prikazno ime.</p>
<p>Ko uporabnika dodate na seznam prijateljev, tako da sprejete njegovo prošnjo za prijateljstvo, ste samodejno dodani na njegov seznam prjateljev. Ko uporabnika odstranite iz seznama prijateljev ali zavrnete prošnjo za prijateljstvo, bosteo dstranjeni iz njegovega seznama. Če uporabnika odstranite iz seznama prijateljev, bo o tej spremembi samodejno obveščen.</p>
<p>Uporabnik vam lahko ponovno pošlje prošnjo za prijateljstvo, tudi če ste jo že kdaj zavrnili.</p>
<p>Pri dostopu do pogleda drugega uporabnika, boste na dnu strani videli naslednje možnosti.</p>

<h4>Oddaj povratno informacijo</h4>
<p>Oddate lahko povratne informacije glede uporabnikovega pogleda ali izdelkov znotraj tega pogleda. Vaše povratne informacije so lahko javne ali zasebne. Javne povratne informacije lahko vidijo tudi drugi uporabniki z dostopom do pogleda. Zasebne povratne informacije pa si lahko ogleda le lastnik pogleda. Lastnik pogleda se lahko odloči in vaše javne povratne informacije spremeni v zasebne, ne more pa vaših zasebnih povratnih informacij spremeniti v javne.</p>
<p>Osebje lahko pri pogledih, ki so bili (v okviru skupnosti, ki temeljijo na predmetih) oddani v ocenjevanje, vključi datoteko s povratnimi informacijami.</p>

<h4>Prijavi neprimerno vsebino</h4>
<p>Če v okviru pogleda naletite na vsebino za katero mislite, da je žaljiva ali neprimerna, lahko to s pomočjo spletnega obrazca prijavite skrbniku spletišča. Prosimo, razmislite v kakšnem kontekstu se pojavlja ta vsebina, preden jo prijavite kot neprimerno vsebino.</p>

<h4>Natisni</h4>
<p>Možnost "Natisni" vam omogoča tiskanje tiskalniku prijazne različice trenutno odprtega pogleda ali izdelka.</p>

<h4>Dodaj pogled na nadzorni seznam</h4>
<p>Možnost "Dodaj pogled na nadzorni seznam" vam omogoča dodajanje pogleda na nadzorni seznam, tako da lahko prejemate uradna obvestila o vseh spremembah.</p>

<h4>Dodaj celotno vsebino pogleda na nadzorni seznam</h4>
<p>Možnost "Dodaj celotno vsebino pogleda na nadzorni seznam" vam omogoča dodajanje pogleda in vseh izdelkov, povezanih z njim, na nadzorni seznam, tako da lahko prejemate uradna obvestila o vseh spremembah.</p>