<h3>Prebrskaj Moje datoteke</h3>
<p>Če želite objavi bloga pripeti datoteke, ki so trenutno shranjene v območju vaših datotek, lahko prebrskate to območje in poiščete ustrezno/e datoteko/e.</p>
<p>Premaknite se v ustrezno mapo in nato pripnite ustrezno/e datoteko/e. Mapa "blogfiles" vsebuje tiste datoteke, ki so že priložene objavam bloga.</p>