<h3>Naloži datoteko</H3>
<p>Objavi bloga lahko priložite poljubno število datotek. Datoteke, ki so dodane objavi bloga, se samodejno shranjujejo v mapo, imenovano "blogfiles" in se štejejo v kvoto, namenjeno shranjevanju.</p>
<p>Če naložite datoteke in nato prekličete objavo bloga ali zaprete blog, ne da bi ga shranili, potem bodo tudi naložene datoteke odstranjene iz območja vaših datotek.</p>
<p>Če k objavi bloga naložite sliko, lahko uporabite gumb Slika v HTML urejevalniku in sliko vključite v svojo objavo. V ustreznih poljih lahko nastavite velikost, poravnavo, rob in prostor okrog slike.</p>
<p>Vključite lahko tudi sliko iz druge spletne strani. Vpišite URL slike ali "povlecite in spustite" sliko s spletne strani v HTML urejevalnik. Prosimo, zagotovite, da imate ustrezna avtorska dovoljenja za uporabo slike.</p>
<p>Za najboljši prikaz naj velikost slike ne presega 400x400 pikslovm, slika pa naj ima manj kot 5 pik prostora na vsaki strani.</p>