<h3>Komercialno</h3>

<p>Drugim dovolite tako nekomercialno kot tudi komercialno reproduciranje, distribuiranje, dajanje v najem, javno priobčitev in predelavo avtorskega dela, pod pogojem, da navedejo avtorja izvirnega dela.</p>

<h3>Nekomercialno</h3>

<p>Drugim dovolite nekomercialno reproduciranje, distribuiranje, dajanje v najem, javno priobčitev in predelavo avtorskega dela, pod pogojem, da navedejo avtorja izvirnega dela.</p>
