<h3>Predelave dovoljene</h3>

<p>Drugim dovolite reproduciranje, distribuiranje, dajanje v najem in javno priobčitev izvirnega avtorskega dela, kot tudi predelav avtorskega dela, pod pogojem, da navedejo avtorja izvirnega dela.</p>

<h3>Deljenje pod istimi pogoji</h3>

<p>Drugim dovolite reproduciranje, distribuiranje, dajanje v najem, javno priobčitev in predelavo avtorskega dela, če navedejo avtorja in širijo avtorsko delo/predelavo naprej pod istimi pogoji. Za nova dela, ki bodo nastala s predelavo, bo tako tudi dovoljena komercialna uporaba.</p>

<h3>Brez predelav</h3>

<p>Drugim dovolite reproduciranje, distribuiranje, dajanje v najem in javno priobčitev samega izvirnega avtorskega dela, pod pogojem, da navedejo avtorja izvirnega dela - brez predelave avtorskega dela.</p>