<h3>Moje skupine</h3>
<p>Tukaj lahko vidite vse skupine, s katerimi ste kakorkoli povezani.</p>
<p>Lahko si ogledate skupine, katerih lastnik ali člani ste, kot tudi skupine, v katere ste bili povabljeni, ali ste zaprosili za članstvo.</p>
<p>Ko ste član skupine, lahko delite svoje poglede z drugimi člani, in sodelujete v skupinskih dejavnostih, kot so forumi.</p>