<h3>Datoteke skupine</h3>
<p>Območje datotek skupine je prostor za deljene mape in datoteke, ki jih uporabljate v okviru pogledov skupine.</p>
<p>Za organiziranje datotek in map lahko uporabite metodo "povleci in spusti".</p>
<p>Iz varnostnih razlogov lahko skrbnik spletišča omeji nalaganje nekaterih vrst datotek.</p>