<h3>Moje datoteke</h3>
<p>Območje vaših datotek je prostor za mape in datoteke, ki jih uporabljate v okviru vašega listovnika.</p>
<p>Število datotek, ki jih lahko prenesete v to območje, je odvisen od nastavite omejitve shranjevanja datotek, ki je prikazana v polju kvote na desni strani zaslona.</p>
<p>Za organiziranje datotek in map lahko uporabite metodo "povleci in spusti".</p>
<p>Iz varnostnih razlogov lahko skrbnik spletišča omeji nalaganje nekaterih vrst datotek.</p>