<h3>Ikone profila</h3>
<p>Območje ikon profila vam omogoča, da naložite slike, ki se bodo, na različnih mestih v sistemu, pojavile poleg vašega imena.</p>
<p>V območju ikon profila lahko imate do največ 5 ikon naenkrat. Naložene slike morajo biti velike vsaj 16x16 pikslov. Naložene slike štejejo v vašo kvoto datotek.</p>
<p>Vaša privzeta ikona bo prikazana poleg vašega imena, druge slike pa lahko uporabite v pogledih, ki jih ustvarite.</p>
<p><strong>Opomba:</strong> Vse vaše ikone profila so dostopne vsem prijavljenim uporabnikom, čeprav niso trenutno vaše privzete ikone. Izbrišite jih, če ne želite, da bi jih drugi videli.</p>