<h3>Velikost ikone</h3>
<p>Velikost ikone določa (v pikslih) največjo višino in širino uporabnikove ikone profila. Vse slike, naložene v območje ikon profila, bodo povečane/zmanjšane na to velikost.</p>