<h3>Moji cilji</h3>
<p>Območje ciljev je razdeljeno na tri dele: osebni, akademski in poklicni cilji. V vsakem polju lahko, z uporabo HTML urejevalnika, ustvarite opis ciljev, ki predstavlja izdelek. Tak izdelek lahko dodate vašemu pogledu.</p>
<p>Osebni ali poklicni cilji so pogosto navedeni v življenjepisih zato, da delodajalci lažje razumejo, kako bi določena vloga lahko ustrezala vašim ambicijam.</p>
<p>Uporabite lahko tudi razdelek akademskih ciljev za opis dosežkov, ki jih želite doseči pri vašem študiju oz. v vašem študijskem programu.</p>
<p><strong>Opomba:</strong> Pomembno je, da vsak nov vnos shranite z gumbom na dnu razdelka.</p>
