<h3>Moj življenjepis</h3>
<p>Območje življenjepisa vam omogoča, da na spletu ustvarite življenjepis ali CV. To območje se deli na dva dela - enega za vnos splošnih podatkov in enega za podrobnosti o vaši izobrazbi, kvalifikacijah in izkušnjah.</p>
<p>Če želite prikazati/skriti štiri razdelke splošnih podatkov, kliknite na puščico ob imenu razdelka.</p>
<p><strong>Opomba:</strong> Pomembno je, da vsak nov vnos shranite z gumbom na dnu razdelka.</p>