<h3>Moje spretnosti</h3>
<p>Območje spretnosti je razdeljeno na tri dele: osebne, akademske in poklicne spretnosti oz. veščine. V vsakem polju lahko, z uporabo HTML urejevalnika, ustvarite opis ciljev, ki predstavlja izdelek. Tak izdelek lahko dodate vašemu pogledu.</p>
<p>Delodajalce vedno zanima, katere spretnosti lahko doprinesete. To področje lahko uporabite tudi, da prikažete katere lastnosti bi lahko doprinesli v sodelovalno skupnost ali delovno skupino.</p>
<p><strong>Opomba:</strong> Pomembno je, da vsak nov vnos shranite z gumbom na dnu razdelka.</p>
