<h3>Razločevalno ime</h3>
<p>Če želite uporabljati povezani-uporabnik za iskanje uporabnikov, ga določite tukaj. 
Nekaj podobnega 'cn=ldapuser,ou=public,o=org'. Pri anonimni povezavi pustite prazno.</p>