<h3>Atribut ustanove</h3>
<p>To je atribut, ki ga posreduje Ponudnik identitet (IdP) in kaže, kateri ustanovi pripada uporabnik. Te so običajno neposredno povezane z LDAP atributi (prijavna storitev IdP) npr.: eduPersonOrgDN</p>