<h3>Ob prijavi posodobi uporabniške podatke</h3>
<p>Če je nastavljeno, potem bodo uporabnikovo ime, priimek in epoštni naslov posodobljeni z vrednostmi, ki jih posreduje Ponudnik identitet (IdP).</p>
