<h3>Preveri vrednost ustanove</h3>
<p>To je vrednost, ki bo primerjana z vrednostjo Atribut ustanove, ki jo posreduje Ponudnik identitet (IdP) in kaže, kateri ustanovi pripada uporabnik. Če je obkljukana možnost Regex ustanove, potem je ta vrednost lahko regularni izraz, ki bo uporabljen za primerjavo z vrednostjo Atribut ustanove.</p>
