<h3>Simple SAML PHP pot do nastavitev</h3>
<p>Polna pot do nastavitvene mape, ki bo uporabljal ta Simple SAML PHP Ponudnik storitve (SP). Npr.: če je polna pot do config.php datoteke /neka_pot_do/simplesamlphp_1_3/config/config.php, potem naj bo ta vrednost /neka_pot_do/simplesamlphp_1_3/config/</p>
