<h3>Simple SAML PHP pot do knjižnic</h3>
<p>Polna pot do mape s knjižnicami Simple SAML PHP. Npr.: če je polna pot do autoload.php samozagonske datoteke /neka_pot_do/simplesamlphp_1_3/lib/_autoload.php, potem naj bo ta vrednost /neka_pot_do/simplesamlphp_1_3/</p>
