<h3>Uredi pogled</h3>
<p>Oblikovanje postavitve vašega pogleda vam omogoča, da prilagodite način prikaza vaših virov in informacij. Na primer, če želite prikazati samo eno objavo bloga, kliknite na zavihek Blogi, nato povlecite blok "Objava bloga" v področje vašega pogleda. Ne pozabite klikniti gumb "Shrani", kadarkoli dodate nove elemente v vaš pogled.</p>
<p>Ko gradite vsebino pogleda lahko preverite, kako bo pogled izgledal, če kliknete "Prikaži moj pogled". Kliknite gumb "Uredi moj pogled" za nadaljevanje urejanja.</p>