<h3>Uredi dostop do pogleda</h3>
<p>Tukaj lahko nadzirate, kdo in kdaj lahko vidi vaš pogled. Privzeto si lahko le vi ogledate vaš pogled. S klikom na ustrezen gumb "Dodaj" lahko dodate dostop do pogleda prijateljem, prijavljenim uporabnikom ali javnosti. S pomočjo iskalnika lahko dodate dostop do pogleda tudi posameznim skupinam ali uporabnikom.</p>
<p>Lahko določite tudi datume dostopa in tako naredite vaš pogled dostopen v določenem časovnem obdobju, kot je npr. šolsko leto, trajanje projekta, ali celo samo en dan. Noben izmed datumv ni obvezen. Če dodate več kot eno pravilo, potem bo uporabniku dodeljen dostop do pogleda, če se ujema vsaj z enim izmed nastavljenih pravil.</p>
<p><strong>Primer:</strong> Nigel je v skupini "Klub frajerjev". Če mu omogočite dostop do pogleda danes, in omogočite skupini "Klub frajerjev" dostop do pogleda jutri, bo imel Nigel dostop do pogleda oba dni.</p>