<h3>Moji blogi</h3>
<p>Blog oz. spletnik je reviji podobno orodje, ki vam omogoča zapisovanje vaših misli, izkušenj, refleksij in podobno.</p>
<p>Privzeto si lahko svoje bloge ogledujete le vi. Z dodajanjem bloga v pogled omogočite ljudem, da ga berejo in komentirajo.</p>
<p>Najprej morate ustvariti blog, šele nato lahko objavljate v njem. Imate lahko toliko različnih blogov, kot želite.</p>