<h3>Številka vrat</h3>
<p>Številka vrat, ki jih za poslušanje uporablja oddaljeni program. Verjetno vam tega ne bo treba spremeniti, razen če se povezujete na https storitev, ali pa če vaš oddaljeni program uporablja nestandardna vrata.</p>