<h3>Uvozimo vsebino</h3>
<p>Vsi programi z vključenim mreženjem ne podpirajo tega, če pa že, bo to omogočilo uporabnikom oddaljenega spletišča uvažati vsebino sem.</p>
<p>Odvisno je od "Omogočajo vhodni SSO", prav tako pa je smiselno vključiti tudi "Avto-ustvarimo uporabnike".</p>