<h3>Matična avtoriteta</h3>
<p>Če nastavite matično avtoriteto, se bodo lahko uporabniki prav tako prijavili preko SSO z uporabo te avtoritete.</p>
<p>Na primer, lahko nastavite LDAP overjanje in določite, da je to matična avtoriteta te avtoritete. To pomeni, da se bodo uporabniki lahko prijavili z njihovimi LDAP podatki preko Maharinih vgrajenih prijavnih obrazcev, prav tako pa tudi preko SSO z zunanjim overjanjem pristnosti.</p>
<p>Matične avtoritete ni nujno potrebno določiti. Če je ne določite, bodo lahko uporabniki, ki uporabljajo to avtoriteto, dostopali do Mahare le preko SSO.</p>