<h3>Omogočamo vhodni SSO</h3>
<p>Omogočite to možnost, če želite uporabnikom iz oddaljenega spletišča omogočiti gostovanje na vašem Mahara spletišču, ne da bi morali vnesti svoje uporabniško ime in geslo.</p>