<h3>Vrste dejavnosti</h3>
<p>Iz padajočega seznama izberite vrste obvestil, ki jih želite prikazati v seznamu.</p>
<p><strong>Sistemska sporočila:</strong> sporočila, ki jih samodejno ustvari sistem ali pa vam jih pošlje eden izmed skrbnikov spletišča.</p>
<p><strong>Sporočila drugih uporabnikov:</strong> sporočila, ki vam jih pošljejo drugi uporabniki spletišča.</p>
<p><strong>Povratne informacije:</strong> obvestila o povratnih informacijah, pripombah ali komenatrjih glede vaših pogledov, izdelkov ali blogov v okviru vašega eListovnika.</p>
<p><strong>Nadzorni seznam:</strong> obvestila o dejavnostih, povezanih s katerim koli izdelkom, pogledom, skupino ali blogom, ki ga spremljate oz. nadzorujete.</p>
<p><strong>Nov dostop do pogledov:</strong> obvestilo, da ste vi ali vaša skupina dobili dovoljenje za dostop do novega ali obstoječega ne-javnega pogleda.</p>