<h3>Datoteka spletišča</h3>
<p>Kot vir lahko uporabite datoteke, shranjene v območju Datotek spletišča. Prikazno ime datoteke morate vpisati v polje Ime, želeno datoteko pa izbrali iz padajočega seznama Povezano.</p>