<h3>Zunanja povezava</h3>
<p>Prikažete lahko zunanjo ali notranjo povezavo, ki je koristna za uporabnike. Prikazno ime URL povezave mora biti vpisano v polje Ime, URL naslov pa mora biti vpisan v polje Povezano.</p>