<h3>BBCode</h3>
<p>BBCode vam v vaša sporočila omogoča vključiti oblikovanje kot <strong>krepko</strong> ali <em>poševno</em>.</p>
<p>Če želite besedo npr. oblikovati kepko, boste napisali takole:
: [b]živjo[/b]. V vašem sporočilu, pa se bo beseda prikazala kot <strong>živjo</strong>. BBCode označevalca - [b] in [/b] - izgineta.</p>
<p>Na voljo so naslednje BBCode:</p>
<ul>
     <li><strong>[b]</strong> in <strong>[/b]</strong>, za <strong>krepko</strong> oblikovanje - npr. [b]poniji[/b].</li>
     <li><strong>[i]</strong> in <strong>[/i]</strong>, za <em>ležeče</em> oblikovanje - npr. [i]čudovito![/i].</li>
     <li><strong>[img]</strong> in <strong>[/img]</strong>, za vstavljanje slik - npr. [IMG]http://mahara.org/favicon.ico[/img]</li>
     <li><strong>[url]</strong> in <strong>[/url]</strong>, za vstavljanje povezav - npr. [url]http://google.si[/url] ali [url=http://google.si/]Google[/url]</li>
</ul>
<p>Upoštevajte, da se bodo povezave v vašem sporočilu samodejno preoblikovale in boste nanje lahko kliknili.</p>