<h3>Prijava</h3>
<p>Vaša prijavna podatka sta uporabniško ime in geslo, ki ste ju vnesli ob registraciji ali vam ju je dodelil skrbnik spletišča.</p>
<p>Če kadar koli želite ponastaviti geslo, kliknite <a href="forgotpass.php">pozabljeno geslo</a>.</p>
<p>Zaradi vaše varnosti, boste po obdobju nedejavnosti samodejno odjavljeni iz sistema. Sistem vas bo opozoril, da se morate ponovno prijaviti.</p>
<p><strong>Opomba:</strong> To spletišče zahteva sodobnejši brskalnik, kot npr: Internet Explorer 6.0, Firefox 1.5, Safari 2, Opera 9 ali novejšega. Če želite uporabljati Maharo morate imeti v vašem brskalniku omogočene piškotke.</p>