<h3>Čakajoče prošnje za članstvo</h3>
<p>Odvisno od tega, kateri način članstva ste izbrali za svoje skupnosti, bodo tukaj navedene čakajoče prošnje za članstvo. Prav tako boste, preko Obvestil, obveščeni o novih prošnjah. Ko boste posamezno prošnjo sprejeli ali zavrnili, bo uporabnik obveščen o vaši odločitvi.</p>