<h3>Nadzor urejanja pogleda</h3>

<h4>Informacije o urejanju pogleda</H4>
<p>Območje informacij o urejanju pogleda je enakovredno strani Ustvari pogled - korak ena in vam omogoča, da spremenite naslov, opis inprikazno ime vašega pogleda ter da določite datum začetka in zključka dostopa do tega pogleda.</p>

<h4>Uredi pogled</H4>
<p>Območje urejanja pogleda je enakovredno strani Ustvari pogled - korak tri in vam omogoča, da dodajate ali spreminjate prikaz izdelkov, povezanih z vašim pogledom.</p>

<h4>Uredi dostop</H4>
<p>Območje urejanja dostopa je enakovredno strani Ustvari pogled - korak štiri in vam omogoča, da dodajate, spreminjate ali odstranjujete dostop do vašega pogleda vsem skupinam ali posameznikom, ki jih izberete.</p>

<h4>Pošlji za ocenitev</H4>
<p>Če pripravljate pogled kot del naloge, ki se oceni in ste član skupine z nadzorovanim članstvom, ki ima določenega mentorja, potem boste imeli možnost oddati vaš pogled za ocenitev.</p>
<p>Oddaja pogleda bo za urejanje zaklenila celoten pogled in vse, pogledu pridružene izdelke ter zagotovila "posnetek" vašega pogleda ob določenem datumu/času. Ta "posnetek" bo dobil vaš mentor. Upoštevajte, da bodo uporabniki z dostopom do vašega pogleda, še vedno lahko oddali povratne informacije, mnenja in komentarje, kljub temu, da je pogled zaklenjen za spreminjanje. Ko bo postopek ocenjevanja zaključen, bo mentor ponovno sprostil vaš pogled za urejanje. Ko bo vaš pogled ponovno sproščen za urejanje, boste o tem obveščeni preko Obvestil.</p>