<h4>Oddaj povratno informacijo</H4>
<p>Drugi uporabniki, ki imajo dostop do pogleda, lahko vidijo povratne informacije, ki so javne. Zasebne povratne informacije pa lahko vidi le lastnik. Lastnik pogleda lahko javne povrate informacije spremeni v zasebne.</p>
<h4>Prijavi neprimerno vsebino</H4>
<p>Skrbniku spletišča lahko prijavite vso vsebino, za katero mislite, da je neprimerna.</p>
<h4>Natisni</H4>
<p>Možnost Natisni vam omogoča, na natisnete tiskanju prijazno različico pogleda.</p>
<h4>Dodaj Pogled na Nadzorni seznam</H4>
<p>Če je na vašem nadzornem seznamu, boste prejeli obvestilo, kadar koli bo avtor spremenil pogled.</p>