<h3>Opomnik za uporabniško ime/geslo</h3>
<p>Če ste pozabili vaše uporabniško ime ali geslo, vam lahko sistem pošlje sporočilo z vašim uporabniškim imenom ter povezavo za ponastavitev gesla. V polje vpišite vaše uporabniško ime ali primarni epoštni naslov in kliknite gumb "Pošlji zahtevo". Samodejno boste prejeli epoštno sporočilo. Če želite spremeniti svoje geslo, sledite povezavi v epoštnem sporočilu, da potrdite zahtevo ponastavitev gesla.</p>
<p><strong>Opozorilo:</strong> Če ste prejeli epoštno sporočilo za spremembo gesla, ki ga niste zahtevali, gre morda za goljufijo. Ne klikajte povezav v takšnih epoštnih sporočilih!</p>