<h3>Registracija</h3>
<p>Če vašega računa za eListovnik ni ustvarila ustanova, se boste morali registrirati sami. V tem primeru izpolnite in pošljite ta obrazec za registracijo. Na vaš epoštni naslov bo poslano sporočilo, ki bo vsebovalo povezavo - kliknite to povezavo, da potrdite svoj račun in se prijavite v sistem. Če epoštnega sporočila ne prejmete v roku 24 ur, preverite filter v epoštnem programu in nezaželjena epoštna sporočila. Če imate kakršne koli težave z registracijo, se obrnite na skrbnika spletišča.</p>
<p><strong>Opomba:</strong> Povezava v epoštnem sporočilu velja samo za 24 ur. Po tem morate postopek ponoviti.</p>
<p>Nato boste morali izpolniti vsa obvezna polja profila, ter naložiti sliko profila. Po registraciji, boste morali vnesti svoje uporabniško ime in geslo (in verjetno tudi ustanovo), da se boste lahko prijavili v svoj eListovnik.</p>
<p><strong>Opomba:</strong> To spletišče zahteva sodobnejši brskalnik, kot npr: Internet Explorer 6.0, Firefox 1.5, Safari 2, Opera 9 ali novejšega. Če želite uporabljati Maharo morate imeti v vašem brskalniku omogočene piškotke.</p>