<h3>Posodobi izbrane teme</h3>
<p>Izberite teme tako, da obkljukate polje na levi strani vsake teme. Nato izberite, na kakšen način želite izbrane teme posodobiti.</p>
<p><strong>Naroči se</strong>: prejemali boste obvestila o objavah v izbrani temi.</p>
<p><strong>Odjavi naročnino</strong>: ne boste prejemali obvestil o objavah v izbrani temi.</p>
