<h3>Posodobi izbrane teme</h3>
<p>Izberite teme tako, da obkljukate polje na levi strani vsake teme. Nato izberite, na kakšen način želite izbrane teme posodobiti.</p>
<p><strong>Naroči se</strong>: prejemali boste obvestila o objavah v izbrani temi.</p>
<p><strong>Odjavi naročnino</strong>: ne boste prejemali obvestil o objavah v izbrani temi.</p>
<p><strong>Lepljivo</strong>: izbrana tema bo prikazana na vrhu vsake strani.</p>
<p><strong>Nelepljivo</strong>: izbrana tema ne bo več prikazana na vrhu vsake strani.</p>
<p><strong>Odpri</strong>: vsi člani skupine bodo lahko objavljali v izbrani temi.</p>
<p><strong>Zapri</strong>: samo skrbniki in moderatorji foruma bodo lahko objavljali v izbrani temi.</p>