<h3>Gesla</h3>
<p>Če želite spremeniti svoje geslo za prijavo, potem najprej vpišite trenutno geslo sem, nato vpišite novo geslo v obe drugi polji.</p>
<p>Vaše geslo mora biti skupaj dolgo vsaj šest znakov. Vsebovati mora vsaj eno številko in vsaj dve črki. Pri geslih sistem razlikuje male in velike črke. Geslo se mora razlikovati od vašega uporabniškega imena.</p>