<h3>HTML urejevalnik</h3>
<p>HTML urejevalnik lahko uporabljate na nekaterih delih spletišča. Bolj znan je kot "Kar vidiš, to dobiš" (WYSIWYG) urejevalnik. Omogoča vam, da besedilo oblikujete npr.: krepko ali ležeče. Če je urejevalnik izklopljen, boste lahko vnašali le golo besedilo.</p>
<p><strong>Opomba:</strong> HTML urejavalniki lahko v različnih brskalnikih izgledajo in delujejo nekoliko drugače.</p>