<h3>Nadzor prijateljev</h3>
<p>Izberite, ali vas lahko drugi uporabniki dodajo na seznam svojih prijateljev. Če vas bo nekdo dodal na seznam prijateljev, bo lastnik tega seznama dodan na vaš seznam. Če nekoga odstranite iz seznama prijateljev, boste odstranjeni tudi iz njegovega seznama. Izberite eno izmed možnosti:</p>
<p><strong>Nihče me ne sme dodati kot prijatelja:</strong> nihče vas ne more dodati na seznam prijateljev.</p>
<p><strong>Novi prijatelji potrebujejo mojo odobritev:</strong> za dodajanje na seznam prijateljev je potrebno vaše dovoljenje.</p>
<p><strong>Novi prijatelji so samodejno odobreni:</strong> kdorkoli vas lahko doda na svoj seznam prijateljev.</p>