<h3>Sporočila drugih uporabnikov</h3>
<p>Uporabite to nastavitev, če želite določiti, od koga želite prejemati sporočila.</p>
<p>Uporaba območje privzetih nastavitev dejavnosti, da določite, kako boste prejemali sporočila.</p>
<p><strong>Opomba:</strong> Te omejitve ne bodo veljale za skrbnike spletišča ali osebje (učitelje).</p>