<h3>Prikaži gumbe za dodajanje ali brisanje stolpcev pri urejanju pogleda</h3>
<p>Izberete lahko, naj se prikaže vrstica z gumbi <img src="/theme/default/static/images/btn_addcolumn_left.png" alt="add"><img src="/theme/default/static/images/btn_removecolumn.png" alt="remove"> v urejanju pogleda. S temi gumbi dodate ali odstranite stolpce iz pogleda.</p>
<p>Tudi če gumbi niso omogočeni, lahko spremenite število stolpcev pogleda na strani postavitve pogleda.</p>