<h3>LEAP2A Datoteke</h3>
<p>Ta možnost vam omogoča uvoz <a href="http://wiki.cetis.ac.uk/LEAP2A_specification#About_this_specification" target="_blank">LEAP2A izvozne datoteke</a>, ki vsebuje podatke o listovniku osebe.</p>
<p>Več o tem lahko preberete na Maharinem wikiju, v temi <a href="http://wiki.mahara.org/Developer_Area/Import//Export" target="_blank">Mahara's support for LEAP2A</a>.</p>
