﻿<h3>Vrsta skupine</h3>
<p>Izbirate lahko med številnimi možnostmi, ki določajo, kako se lahko drugi uporabniki pridružijo vaši skupini.</p>

<h6>Odprto članstvo</h6>
<p>Nastavitev skupine Odprto članstvo bo omogočila vsem uporabnikom spletišča, da postanejo člani preprosto tako, da obiščejo stran skupine in kliknejo gumb Pridruži se skupini.</p>

<h6>Prošnja za članstvo</h6>
<p>Nastavitev skupine Prošnja za članstvo pomeni, da lahko vsak uporabnik zaprosi za članstvo v vaši skupini, vendar se kot lastnik skupine odločite, ali boste prošnjo sprejeli ali zavrnili. Uporabnik, ki je zaprosil za članstvo, bo samodejno obveščen o vaši odločitvi.</p>

<h6>Samo povabljeni</h6>
<p>Nastavitev skupine Samo povabljeni pomeni, da se lahko skupini pridružijo samo tisti uporabniki, ki ste jim poslali vabilo.</p>

<h6>Nadzorovano članstvo</h6>
<p>Nastavitev skupine Nadzorovano članstvo je dostopna le skrbnikom in osebju, in vam omogoča neposredno dodajanje ali odstranjevanje uporabnikov skupine.</p>
<p>Uporabniki iz nadzorovanih skupin ne morejo odstraniti samih sebe.</p>

<h4>Predmetne skupine</h4>
<p>Predmetne skupine so posebne vrste skupin, ki jih lahko ustvarijo samo skrbniki in osebje spletišča.</p>
<p>Predmetne skupine lahko imajo mentorje in navadne člane. Vsi člani predmetne skupine lahko oddajo svoje poglede skupini, kjer jih ocenijo mentorji. Ko mentorji oddajo povratno informacijo, lahko poleg komentarja pripnejo tudi datoteko, ki jo lahko vidi le lastnik pogleda.</p>
<p>Obstajata dve vrsti predmetnih skupin:</p>

<h6>Predmet: Prošnja za članstvo</h6>
<p>Uporabniki se lahko pridružijo skupini tako, da zaprosijo za članstvo v skupini, kot je opisano zgoraj.</p>

<h6>Predmet: Nadzorovano članstvo</h6>
<p>Predmetna skupina z nadzorovanim članstvom omogoča skrbnikom neposredno dodajanje ali odstranjevanje uporabnikov skupine. Mentorji lahko v tako skupino neposredno samo dodajajo uporabnike.</p>
<p>Takšno skupino običajno uporabte pri skupinah, ki temeljijo na predmetih, pri katerih je članstvo določeno s strani zunanjega sistema (kot so npr. vpisni sistemi ustanov), in pri katerih želite poustvariti članstvo v takšni skupini.</p>
<p>Uporabniki iz nadzorovanih skupin ne morejo odstraniti samih sebe.</p>