<h3>Samodejno dodajanje uporabnikov v skupine</h3>
<p>Če potrdite, bo vsak, ki se bo registriral na tem spletišču, samodejno dodan v to skupino.</p>
<p>Glede na vrsto skupine, bodo lahko uporabniki še vedno imeti možnost zapustiti skupino.</p>