<h3>Javno vidna skupina</h3>
<p>Če potrdite, bo večina razdelkov vaše skupine vidna vsem, ki bodo obiskali vašo skupino - vključno z ljudmi, ki nimajo računa na tem spletišču.</p>
<p>Vsak bo lahko videl seznam članov skupine in vse razprave v forumih. Vendar bodo morali ti ljudje postati člani skupine, preden bodo lahko objavljali v forumih.</p>
<p>Ne glede na to nastavitev, bo razdelek datotek skupine, ter vse datoteke v njem, ostal zaseben.</p>