<h3>Skrivna povezava</h3>
<p>Če ne želite, da bi kdorkoli lahko videl vaš pogled, vendar ga bi želeli pokazati nekaterim ljudem, ki niso registrirani na tem spletišču, potem lahko s pomočjo skrivne povezave, ki jo je težko uganiti, naredite vaš pogled dostopen javnosti. Prijatelje lahko o tej skrivni povezavi obvestite tako, da povezavo prilepite v epoštno sporočilo in jim ga pošljete.</p>