<h3>Ključne besede</h3>
<p>Pogledom, ki ste jih ustvarili v Mahari, lahko dodate ključne besede. Ključne besede vam omogočajo opisno označevanje izdelkov in pogledov ter ustvarjanje razvrstitvenega kazala ključnih besed.</p>
<p>Če želite s pogledom povezati več ključnih besed, ločite posamezne ključne besede z vejicami. Na primer - "ocena, semester 2, naloga".</p>
<p>S klikom na <b>Prikaži moje ključne besede</b> boste ustvarili seznam tistih ključnih besed, ki ste jih že kdaj uporabili v vašem listovniku, in število vnosov posamezne ključne besede. S klikom na ključno besedo, boste to ključno besedo dodali na seznam ključnih besed pogleda, ali pa jo boste iz seznama odstranili, če ste pogled predhodno že označili s to ključno besedo.</p>
