<h3>Metoda overjanja</h3>
<p>Vsi uporabniki imajo eno privzeto metodo overjanja v Mahari. V posebnih primerih se lahko pristonst preverja tudi na drug način, vendar se v večini primerov uporablja samo en način.</p>
<p>Tu lahko izberete, kateri mehanizem overjanja lahko uporabnik uporabi za preverjanja pristnosti v Mahari. Večinoma vam ne bo treba spreminjati ničesar, saj bo samodejno ustrezno nastavljeno.</p>
<p>V nekaterih primerih bodo uporabniki za overjanje v Mahari morda potrebovali drugo metodo od tiste, ki so jo uporabljali prej. Na primer, če so prej uporabljali LDAP, vendar jih LDAP strežnik ne prepozna več, oni pa bodo še naprej želeli dostop do svojega računa, lahko nastavite drugo metodo overjanja, kot npr. "Notranje (Brez ustanove)". Uporabnik se bo lahko prijavil v Maharo neposredno, brez uporabe LDAP strežnika - čeprav bi morali uporabiti polje "Ponastavitev gesla" in mu izbrati novo začetno geslo.</p>