<h3>Samodejno dodajanje uporabnikov v skupine</h3>
<p>Če ste izbrali Da, bo vsak uporabnik, ki se bo regsitriral na tem spletišču, samodejno dodan v to skupino.</p>
<p>Glede na vrsto skupine, bodo uporabniki še vedno imeti možnost, da zapustijo skupino.</p>