<h3>Tema</h3>
<p>Privzeta tema spletišča, ki jo bodo videli prijavljeni uporabniki, ki so člani te ustanove. Če je izbrana tema <strong>Privzeto za spletišče</strong> in skrbnik spletišča spremeni privzeto temo spletišča, se bo spremenila tudi tema za uporabnike, ki so člani te ustanove.</p>