<h3>Dovoljena registracija?</h3>
<p>Če je ta nastavitev omogočena, se bodo lahko uporabniki registrirali ter si tako ustvarili uporabniški račun.</p>
<p>Če ima to nastavitev omogočeno več kot ena ustanova, bodo lahko uporabniki v padajočem seznamu izbrali, pri kateri ustanovi se želijo registrirati.</p>
<p>Če nima te nastavitve omogočena nobena ustanova, potem se uporabniki ne bodo mogli registrirati s pomočjo spletnega obrazca.</p>
<p>V splošnem je pametno to nastavitev izključiti, če imate nastavljeno, da se uporabniki pridružijo ustanovi preko mehanizmov, kot npr. LDAP prijava ali SSO iz zunanjega programa. To nastavitev izključite tudi v primeru, da želite nadzorovati ustvarjanje računov s pomočjo obrazcev <a href="add.php" target="_blank">Dodaj uporabnika</a> ali <a href = "uploadcsv.php" target = "_blank">Dodaj uporabniki s CSV</a>.</p>