<h3>Privzeto trajanje članstva</h3>
<p>Nastavite lahko, koliko časa naj ostanejo uporabniki člani te ustanove. Po tem času uporabniki ne bodo več člani ustanove oz. z ustanovo ne bodo več povezani.</p>
<p>Uporabniki bodo pred tem prejeli epoštno sporočilo z opozorilom, da kmalu ne bodo več člani ustanove.</p>