<h3>Vtičnik za overjanje</h3>
<p>Tu lahko izbirate, kako bo preverjena pristnost uporabnikov spletišča. Ustanove bi morale biti vezane na vsaj eno metodo overjanja.</p>
<p>Vtičnik za <strong>notranje</strong> overjanje preveri uporabniško ime/geslo v podatkovni bazi sistema. Da bi overjanje delovalo, morajo uporabniki imeti svoj račun, kar lahko omogočite tako, da dovolite registracijo preko spletnega obrazca za registracijo, ali uporabite obrazca <a href="add.php" target="_blank">Dodaj uporabnika</a> ali <a href = "uploadcsv.php" target = "_blank">Dodaj uporabnike s CSV</a>.</p>
<p>Metoda preverjanja pristnosti <strong>brez</strong> omogoča, da se lahko prijavi kdorkoli. Uporabniki lahko izberejo poljubno uporabniško ime in geslo. To možnost uporabite samo za testiranje!</p>
<p>Druge metode preverjanja pristnosti v splošnem preverjajo pristnost glede na zunanji vir, kot je na primer LDAP strežnik ali oddaljeni program. Imajo svoje lastne nastavitve, ki jih lahko nastavite v pojavnem oknu, ko posamezno metodo dodate.</p>
<p>Nastavitev, ki je običajno skupna vsem, je ali se lahko v Mahari samodejno ustvarijo računi za uporabnike, ko se ti prvič prijavijo (za razliko od računov, ki jih vnaprej ustvarijo skrbniki, in s katerimi se lahko uporabniki prav tako prijavijo).</p>