<h3>Datum izteka ustanove</h3>
<p>Če za to ustanovo določite datum izteka, se bosta zgodili dve stvari. Ko bo dosežen <em>čas opozorila pred iztekom ustanove</em>, bodo skrbniki spletišča in skrbniki ustanove prejeli epoštno obvestilo o bližajočem se izteku ustanove.</p>
<p>Če je nastavljena možnost <em>samodejno blokiraj pretečene ustanove</em>, bo ustanova samodejno blokirana po doseženem datumu izteka. Uporabniki te ustanove pa se ne bodo mogli več prijaviti</p>
<p>Možnosti <em>čas opozorila pred iztekom ustanove</em> in <em>samodejno blokiraj pretečene ustanove</em> najdete pri nastavitvah spletišča, v skrbniškem delu spletišča.</p>

