<h3>Zaklenjena polja</h3>
<p>Vsaka ustanova lahko nastavi, katera polja uporabniškega profila so zaklenjena in jih uporabnik ne more urejati. Primeri polj, ki so lahko zaklenjena zaradi varnosti in natančne identifikacije so: ime, priimek in ID številka.</p>