<h3>Geslo</h3>
<p>Vaše geslo mora biti skupaj dolgo vsaj šest znakov. Vsebovati mora vsaj eno številko in vsaj dve črki. Pri geslih sistem razlikuje male in velike črke. Geslo se mora razlikovati od vašega uporabniškega imena.</p>
<p><strong>Opozorilo:</strong> Iz varnostnih razlogov vas prosimo, da svojega gesla ne razkrijete nikomur. Skrbnik spletišča bo vseeno poznal vaše geslo.</p>
