<h3>Uporabniško ime</h3>
<p>Vaše uporabniško ime mora biti dolgo med 3 in 30 znakov, in ne loči med malimi in velikimi črkami. Dovoljena je uporaba črk, številk in najbolj običajnih simboli so dovoljene.</p>