<h3>Čas opozorila pred nedejavnostjo/iztekom</h3>
<p>Če je nastavljeno, bo uporabnikom toliko časa prej, kot je nastavljeno, poslano sporočilo z opozorilom, da bo njihov račun potekel ali postal neaktiven. Ta čas je lahko določen v dnevih, tednih, mesecih ali letih. Lahko pa izberete možnost "ni zaključnega datuma" če ne želite, da uporabniki prejmejo opozorilo, da bo njihov račun potekel ali postal neaktiven.</p>
