<h3>Jezik</h3>
<p>Izbrani jezik bo privzeti jezik za menije in vsebinsko pomoč v celotnem Mahara spletišču. Če so na vašem Mahara spletišču nameščeni tudi ddrugi jezikovni prevodi, bodo lahko uporabniki preko nastavitev svojega računa, spremenili njihov privzeti jezik.</p>