<h3>Samodejno blokiranje pretečenih ustanov</h3>
<p>Enkrat dnevno poteka pregled, ali so ustanove pretekle. Če je nastavljena, bo ta možnot Mahari omogočala, da bo samodejno blokirala pretečeno ustanovo. To pomeni, da se uporabniki te ustanove ne bodo mogli prijaviti, dokler ne bo ustanova ponovno aktivirana.</p>

