<h3>Javno vidne skupine</h3>
<p>Če želite vsem uporabnikom omogočiti, da lahko ustvarijo skupine, ki si jih lahko gledajo tudi ljudje, ki niso člani vašega spletišča, nastavite to možnost na "Kdorkoli".</p>
<p>V javni skupini si lahko kdorkoli (vključno z iskalniki), ki najde stran vaše skupine, ogleda stran "O skupini", seznam članov skupine in vidi vse razprave v forumih. Vendar pa morajo ljudje še vedno postati člani spletišča, preden lahko izvajajo druge dejavnosti, kot npr. objavljanje na forumih ali ogled uporabniških profilov.</p>