<h3>Pošlji tedenske posodobitve</h3>
<p>Če obkljukate možnost "Pošlji tedenske posodobitve", bo sistem na mahara.org samodejno pošiljal tedenske posodobitve posodobljenih informacij o vaši namestitvi Mahare.</p>
<p>Podatki, ki bodo poslani, vsebujejo visoko raven statističnih informacij - poslanih ne bo nobenih osebnih informacij o katerem koli izmed vaših uporabnikov. Preden registrirate vaše Mahara spletišče (kar lahko naredite na začetni strani skrbništva), lahko pregledate vrsto informacij, ki so poslane na mahara.org.</p>
