<h3>Dovoli javne profile</h3>
<p>Če želite omogočiti uporabnikom, da dovolijo javni dostop do svojih profilov, potem nastavite možnost na 'Da'. Čeprav so profili javno dostopni, lahko njihove interaktivne možnosti, kot je npr. zid, uporabljajo le prijavljeni uporabniki.</p>
