<h3>Iskanje virusov</h3>
<p>Obkljukajte možnost "Iskanje virusov", če želite s protivirusnim programom ClamAv pregledati vse datoteke, ki jih naložijo uporabniki.</p>
<p>Protivirusni program ClamAV mora biti nameščen na vašem strežniku. Veliko Linux distribucij že vsebuje <code>clamav</code> pakete, drugače pa jih lahko prenesete in namestite iz <a href="http://www.clamav.net/">ClamAV spletišča</a>.