<h3>Čas opozorila pred iztekom ustanove</h3>
<p>Če je nastavljeno, bo toliko prej skrbnikom spletišča in skrbnikom ustanove poslano obvestilo, da se bo čas ustanove iztekel in da bo potem blokirana. Ta čas je lahko nastavljen v dnevih, tednih, mesecih letih ali pa je izbrana možnost 'ni zaključnega datuma', kar pomeni, da ustanove ne bodo prejele opozorila pred njihovim iztekom.</p>

