<h3>Uporabniki v večih ustanovah</h3>
<p>Če obkljukate možnost "Uporabniki v večih ustanovah", lahko uporabniki pripadajo več kot eni ustanovi naenkrat. Uporabniki lahko kadarkoli podajo prijavo za pridružitev ustanovi, vendar mora ustanova njihovo prošnjo potrditi. In obratno, ustanova lahko povabi uporabnike, naj se pridružijo, vendar morajo uporabniki prošnjo potrditi.</p>
