<h3>Tema</h3>
<p>Kadar je nameščenih več različnih tem, boste lahko s pomočjo padajočega menija izbrali temo, ki naj se uporablja na Mahara spletišču. Ta tema bo privzeta temo, prikazana neprijavljenim uporabnikom.</p>
<p>Tudi ustanove lahko imajo nastavljeno privzeto temo, ki je prikazana prijavljenim uporabnikom, ki so člani te ustanove. Teme za ustanove lahko nastavite v rezdelku <a href="../users/institutions.php">Skrbništvo ustanov</a>.