<h3>Vgrajena vsebina: Zaupanja vredna mesta</h3>
<p>Za zaščito pred zlonamerno kodo iz drugih spletišč, sta oznaki oz. znački &lt;object&gt; in &lt;embed&gt; ponavadi filtrirani iz HTML vsebine, preden je ta vsebina prikazana. Ta nastavitev omogoča uporabnikom, da sprejmejo kodo za vgradnjo multimedijskih vsebin, ki jo ustvari nekaj določenih spletišč in jo prilepijo neposredno v svoje poglede.</p>