<h3>Življenjska doba seje</h3>
<p>Iz varnostnih razlogov, bo po določenem obdobju nedejavnosti, uporabnik samodejno odjavljen iz spletišča. V polju življenjska doba seje lahko določite, koliko minut bo trajalo, preden bo neaktivni uporabnik samodejno odjavljen.</p>