<h3>Pot do ClamAV</h3>
<p>Sistemska pot do <code>clamscan</code> ali <code>clamdscan</code>, za preverjanje virusov. Domneva se, da neuspešni zagon programa ClamAV pomeni, da je datoteko potrebno obravnavati kot, da je okužena z virusom. V tem primeru bo Mahara samodejno ustvarila mapo za karanteno.</p>