<h3>Privzeta življenjska doba računa</h3>
<p>Če je nastavljeno, bodo po tem obdobju uporabniški računi potekli (merjeno od časa njihovega nastanka). Ko uporabniški račun poteče, se uporabnik ne more več prijaviti. Ta čas je lahko določen v dnevih, tednih, mesecih ali letih. Lahko pa izberete možnost "ni zaključnega datuma" če želite, da uporabniški računi nikoli ne potečejo.</p>