<h3>Privzeti čas nedejavnosti računa</h3>
<p>Če je nastavljeno, bodo po tem obdobju sistem uporabnike, ki se ne bodo prijavili, obravnaval za "neaktivne" in se ne bodo mogli več prijaviti. Ta čas je lahko določen v dnevih, tednih, mesecih ali letih. Lahko pa izberete možnost "ni zaključnega datuma" če želite, da uporabniški računi nikoli ne postanejo neaktivni.</p>
