<h3>Dovoli javne poglede</h3>
<p>Če želite dovoliti uporabnikom, da ustvarijo poglede, ki so javno dostopni, potem to možnost nastavite na "Da". Javne poglede lahko še vedno ureja le njihov lastnik.</p>