<h3>Čas neaktivnosti izdelka ali pogleda</h3>
<p>Možnost "Čas neaktivnosti izdelka ali pogleda" vam omogoča, da določite obdobje nedejavnosti, po katerem bo sistem pogled ali izdelek obravnaval kot "neaktiven". Ta čas je lahko določen v dnevih, tednih, mesecih ali letih. Lahko pa izberete možnost "ni zaključnega datuma" če želite, da pogledi ali izdelki nikoli ne postanejo neaktivni.</p>