<h3>Samodejno naročanje uporabnikov</H3>
<p>Če želite, da bodo uporabniki samodejno naročeni na objave v tem forumu, ko se mu pridružijo, nastavite to možnost na "da".</p>
<p>Če so naročeni, bodo uporabniki prejemali obvestila o novih objavah in odgovorih v tem forumu.</p>
<p>Uporabniki, ki ne bodo želeli biti naročeni, se bodo lahko odjavili.</p>