<h3>Ključne besede</h3>
<p>Izdelkom in pogledom, ki ste jih ustvarili v Mahari, lahko dodate ključne besede. Ključne besede vam omogočajo opisno označevanje izdelkov in pogledov ter ustvarjanje razvrstitvenega kazala ključnih besed.</p>
<p>Če želite z izdelkom ali pogledom povezati več ključnih besed, ločite posamezne ključne besede z vejicami. Na primer - "ocena, semester 2, naloga".</p>
<p>S klikom na <b>Prikaži moje ključne besede</b> boste ustvarili seznam tistih ključnih besed, ki ste jih že kdaj uporabili v vašem listovniku, in število vnosov posamezne ključne besede. S klikom na obstoječo ključno besedo, boste to ključno besedo dodali na seznam ključnih besed izdelka ali pogleda, ki ga trenutno ustvarjate ali urejate.</p>
<p>Z uporabo iskalnika <b>Preišči Moj listovnik</b> boste našli vse izdelke in poglede, ki so povezani s posamezno ključno besedo in tako ustvarili zbirko ali kazalo za svoj listovnik oz. portfelj.</p>