<h3>Skrbništvo vtičnikov</h3>
<p>Obvezna polja profila morajo biti vključena v CSV datoteko za ustvarjanje uporabniških računov, ali pa jih morajo izpolniti uporabniki med postopkom registracije na spletišču.</p>
<p>Javna polja profila bodo, za iskanje in na ogled v okviru javnih pogledov profilov drugih uporabnikov, na voljo vsem prijavljenim uporabnikom.</p>